//  main: ../style.less



@media (max-width: 1025px) {
    .main__block {
        padding: 65px 0 0 10px;
    }
    .main__table {
        width: 1040px;
    }
  }
  @media (max-width: 1025px) {
    .main__block {
        padding: 50px 0 0 10px;
    }
    .main__table {
        width: 1040px;
    }
    .menu__block{
        left: -300px;
    }
  }
  @media (max-width: 768px) {
    .customer-table td {
        font-size: 10px;
    }
    .customer-table th {
        font-size: 10px;
    }
    .main__table{
      padding: 30px 67px 30px 25px;
    }
  }
  
  @media (max-width: 576px) {
    // .customer-table th,
    // .customer-table td {
    //   padding: 14px 4px;
    //   font-size: 12px;
    // }
  }
  
  @media (max-width: 425px) {
    .main__table {
      width: 100%;
  }
//   .customer-table th, .customer-table td {
//     padding: 14px 22px;
// }
.customer-table td {
  padding: 20px 0px;
}
  .hello{
    font-size: 48px;
  }
  .main__table {
    padding: 20px 0 30px 15px;
  }
  h1{
    font-size: 32px;
  }
  .action__table{
    font-size: 24px;
  }
  }
  
  thead {
    position: relative;
  }
  
  thead::after {
    content: '';
    position: absolute;
    width: 107%;
    height: 1px;
    bottom: 0;
    left: -38px;
    background: #EEEEEE;
  }
  
  .customer-table {
    width: 100%;
    border-collapse: collapse;
    border-color: #EEEEEE;
  }
  
  // .customer-table th,
  // .customer-table td {
  //   padding: 14px 38px;
  //   text-align: left;
  //   border-bottom: 1px solid #ddd;
  // }
  
  .customer-table th {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.01em;
    color: #B5B7C0;
  }
  
  // .customer-table td {
  //   padding: 20px 38px;
  //   font-weight: 500;
  //   font-size: 14px;
  //   line-height: 21px;
  //   letter-spacing: -0.01em;
  //   color: #292D32;
  // }